node_modules

# Keep environment variables out of version control
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

/generated/prisma
infrastructure/postgres-data/apps/api/storage/
apps/api/storage/
infrastructure/postgres-data/
